<div class="menu-navbar transparent">
  <div class="menu">Menu</div>
</div>
<div class="banner-menu">
  <div class="banner-menu-description">
    <h1>Take a look at our menu !</h1>
  </div>
</div>
<div class="container">
  <div class="cards-menus-grid">
    <% @recipes.each do |recipe|  %>
      <div class="card-trip">
        <% if recipe.photo.attached? %>
            <%= cl_image_tag recipe.photo.key %>
          <% end %>
        <div class="card-trip-infos">
          <div>
            <h2> <%= recipe.name %></h2>
            <p> <%= recipe.specificity%></p>
            <p class="menu_meal_desc"> <%= recipe.meal_description %> </p>
          </div>
          <h2 class="card-trip-pricing"> <%= recipe.price %> E</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
