<div class="banner-menu">
  <div class="banner-menu-description">
    <div class="logo">
      <%= image_tag "porcorosso.png", alt: "Logo restau", width: 220, height: 220 %>
    </div>
    <p>
      <div class="animated-banner"><span id="banner-typed-text"></span></div>
    </p>
  </div>
</div>
<div class="container">
  <div class="cards-menus-grid">
    <% @recipes.each do |recipe|  %>
      <% if recipe.menu_visible == true %>
        <div class="card-trip">
          <% if recipe.photo.attached? %>
              <%= cl_image_tag recipe.photo.key %>
            <% end %>
          <div class="card-trip-infos">
            <div>
              <div class="card-trip-title">
              <h2> <%= recipe.name %></h2>
              <% case recipe.specificity %>
                <% when "Spicy" %>
                  <h2><i class="fas fa-pepper-hot"></i></h2>
                <% when "Very spicy" %>
                  <h2><i class="fas fa-pepper-hot"></i><i class="fas fa-pepper-hot"></i></h2>
                <% when "Very very spicy" %>
                  <h2><i class="fas fa-pepper-hot"></i><i class="fas fa-pepper-hot"></i><i class="fas fa-pepper-hot"></i></h2>
                <% when "Fat" %>
                  <h2><i class="fas fa-weight-hanging"></i></h2>
                <% when "Lacto-ovo" %>
                  <h2><i class="fas fa-egg"></i></h2>
                <% when "Vegan" %>
                  <h2><i class="fas fa-carrot"></i></h2>
                <% when "Sweet" %>
                  <h2><i class="fas fa-cookie-bite"></i></h2>
                <% else %>
                <p></p>
              <% end %>
              </div>
              <p class="menu_meal_desc"> <%= recipe.meal_description %> </p>
            </div>
            <h2 class="card-trip-pricing"> <%= recipe.price %> € </h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
