<div class="box">
<h1>Update a recipe</h1>
<%= simple_form_for @recipe do |f| %>
  <%= f.input :name, placeholder: 'Recipe name'%>
  <%= f.input :specificity, collection: Recipe::SPECIFICITIES, placeholder: 'Spicy, Veggie ...' %>
  <%= f.input :recipe_description, as: :text, placeholder:"Write here all the steps of your recipe" %>
  <%= f.input :meal_description, as: :text, placeholder:"Write a description or the story of your recipe (it will appear on the menu!)" %>
  <%= f.input :preparation_time, placeholder: 'In min for the cooker' %>
  <div class="btn-grey" >Add product</div>
  <div class="products" data-products="<%=Product.all.order(:name).to_json%>"></div>
  <%= f.input :price, placeholder: 'Price for the customer' %>
  <%= f.input :cost, placeholder: 'Cost for the restaurant' %>
  <%= f.input :menu_visible, label: "Visible on the menu ?", input_html: { class: "toggle" } %>
  <%= f.input :photo, :label=>"Picture", as: :file %>
    <%= f.button :submit, class: 'btn-grey'%>
<% end %>
</div>
