<div class="container-index">
  <% @recipes.each do |recipe| %>
    <div class="card-prod">
      <%= link_to recipe_path(recipe) do%>
      <% if recipe.photo.attached? %>
      <%= cl_image_tag recipe.photo.key %>
      <% end %>
        <div class="card-prod-infos">
        <h2><%= recipe.name %></h2>
          <div class="card-infos">
            <div class="card-infos-number">
              <p>Price: <%= recipe.price %>€</p>
              <p>Cost: <%= recipe.cost %>€</p>
              <p>Margin: %</p>
            </div>
            <div class="card-infos-other">
              <p><%= recipe.specificity %></p>
              <p><%= recipe.preparation_time %></p>
              <p><i class="far fa-clock"></i> <%= recipe.preparation_time %> min</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

