
<div class="header-recipe">
  <%= form_tag recipes_path, method: :get, class: "d-flex ml-4" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a specific recipe ..."
    %>
    <%= submit_tag "Search", class: "btn-search" %>
  <% end %>
  <% if policy(Recipe).create? %>
    <div class="btn-index-checklists"><%= link_to "Add recipe", new_recipe_path, class: 'btn-main' %></div>
  <% end %>
</div>
<div class="container-grid">
  <% @recipes.each do |recipe| %>
    <div class="card-product">
      <%= link_to recipe_path(recipe) do  %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <div class="card-product-container">
            <div class="card-product-name pb-1">
              <h2><%= recipe.name %></h2>
            </div>
          </div>
          <div class="card-product-recipes-container">
            <div><%= recipe.recipe_description %></div>
            <div><%= recipe.preparation_time %>(min)</div>
          </div>
          <div class="card-product-recipes-container">
            <div><%= recipe.meal_description %></div>
            <div><%= recipe.specificity %></div>
          </div>
          <p><%= recipe.price %>€
          </p>
      <% end %>
        </div>
    </div>
  <% end %>
</div>





