<div class="header-recipe">
  <%= form_tag recipes_path, method: :get, class: "d-flex ml-4" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a specific recipe ..."
    %>
    <%= submit_tag "Search", class: "btn-search" %>
  <% end %>
  <% if policy(Recipe).create? %>
    <div class="btn-index-checklists"><%= link_to "Add recipe", new_recipe_path, class: 'btn-main' %></div>
  <% end %>
</div>

<div class="container-index">
  <div class="card-product">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do%>
        <% if recipe.photo.attached? %>
          <%= cl_image_tag recipe.photo.key %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= recipe.name %></h2>
          <div class="card-infos">
            <p><%= recipe.price %> €</p>
            <p><%= recipe.preparation_time %></p>
            <p>
            <% if policy(recipe).edit? %>
              <%= link_to edit_recipe_path(recipe), class:'btn-icons' do %>
                <i class="far fa-edit"></i>
              <% end %>
            <% end %>
              <% if policy(recipe).destroy? %>
                <%= link_to recipes_path, method: :delete, class:'btn-icons', data: { confirm: "Are you sure?"} do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

