
<div class="btn-container">
  <% if policy(Recipe).create? %>
    <div class="btn-index-checklists"><%= link_to "Add recipe", new_recipe_path, class: 'btn-main' %></div>
  <% end %>
</div>
<div class="container-grid">
  <% @recipes.each do |recipe| %>
    <div class="card-product">
      <%= link_to recipe_path(recipe) do  %>
        <% if recipe.photo.attached? %>
        <%= cl_image_tag recipe.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-product-infos">
          <div class="card-product-container">
            <div class="card-product-name pb-1">
              <h2><%= recipe.name %></h2>
            </div>
          </div>
          <div class="card-product-recipes-container">
            <div><i class="far fa-clock"></i><%= recipe.preparation_time %></div>
          </div>
          <div class="card-product-recipes-container">
            <div><%= recipe.meal_description %></div>
            <div><%= recipe.specificity %></div>
          </div>
          <p><%= recipe.price %>€
          </p>
      <% end %>
        </div>
    </div>
  <% end %>
</div>





