<div class="container">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :name %>
    <%= f.input :specificity %>
    <%= f.input :recipe_description %>
    <%= f.input :meal_description %>
    <%= f.input :preparation_time %>
    <%= f.input :price %>
    <%= f.input :menu_visible %>
    <div class="btn btn-primary">Add product</div>
    <div class="products" data-products="<%=Product.all.to_json%>"></div>
    <%= f.button :submit %>
    <div class="container">
  </div>
  <% end %>
</div>
