<<<<<<< HEAD
<div class="container">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :name %>
    <%= f.input :specificity %>
    <%= f.input :recipe_description %>
    <%= f.input :meal_description %>
    <%= f.input :preparation_time %>
    <%= f.input :price %>
    <%= f.input :menu_visible %>
    <div class="btn btn-primary">Add product</div>
    <div class="products" data-products="<%=Product.all.to_json%>"></div>
    <%= f.button :submit %>
    <div class="container">
  </div>
  <% end %>
=======

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-4 offset-12 offset-sm-8 offset-md-4">
      <div class="container-new mb-5">
        <%= simple_form_for @recipe do |f| %>
        <%= f.input :name, input_html: { class: "form-recipes-name" }  %>
        <%= f.input :specificity, input_html: { class: "form-recipes-specificity" } %>
        <%= f.input :recipe_description, input_html: { class: "form-recipes-description" } %>
        <%= f.input :meal_description, input_html: { class: "form-meal-description" } %>
        <%= f.input :preparation_time, input_html: { class: "form-recipes-preparation-time" } %>
        <%= f.input :price, input_html: { class: "form-recipes-price" } %>
        <%= f.input :menu_visible, input_html: { class: "form-menu-visible" } %>
        <div class="btn-container">
          <div class="btn-recipes-index">
            <%= f.button :submit, {class: 'btn-main'} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
>>>>>>> e8a76813c90434878c3e75f9469896fb9097c175
</div>
