

<div class="card-container-show">
<div class="header-recipe ml-3 mr-3">
  <div>
    <%= link_to recipes_path, class:'btn-icons' do %>
      <i class="fas fa-long-arrow-alt-left"></i>
    <% end %>
  </div>
  <div class="p-2">
    <% if policy(@recipe).edit? %>
      <%= link_to edit_recipe_path, class:'btn-icons' do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(@recipe).destroy? %>
      <%= link_to recipe_path, method: :delete, class:'btn-icons', data: { confirm: "Are you sure?"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>
  <div class="card-prod-show">
    <div class="card-prod-bin-show">
      <%  if @recipe.customer_consumption_ids.size == 0 %>
        <%= link_to recipe_path(@recipe), method: :delete, class:'btn-icons', data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
      <% if policy(Recipe).edit? %>
        <%= link_to edit_recipe_path(@recipe), class:'btn-icons' do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
    </div>
    <% if @recipe.photo.attached? %>
      <%= cl_image_tag @recipe.photo.key%>
    <% end %>
    <div class="card-product-infos-1">
      <div class="card-product-container">
        <div class="card-product-name">
          <h1><%=@recipe.name%></h1>
        </div>
      </div>
      <div class="card-show-infos">
        <div class="card-show-infos-1">
          <h2><i class="fas fa-money-bill-wave-alt"></i> Price : <%= @recipe.price %>€</h2>
          <h2><i class="fas fa-coins"></i> Cost : <%= @recipe.cost %>€</h2>
          <h2><i class="fas fa-chart-line"></i> Margin : <%= (((@recipe.price - @recipe.cost)/ @recipe.cost.to_f).round(2) * 100) %>%</h2>
          <% case @recipe.specificity %>
            <% when "spicy" %>
              <h2><i class="fas fa-pepper-hot"></i></h2>
            <% when "very spicy" %>
              <h2><i class="fas fa-pepper-hot"></i><i class="fas fa-pepper-hot"></i></h2>
            <% when "healthy" %>
              <h2><i class="fas fa-heartbeat"></i></h2>
            <% when "veggie" %>
              <h2><i class="fas fa-carrot"></i></h2>
            <% when "sweet" %>
              <h2><i class="fas fa-cookie-bite"></i></h2>
            <% else %>
              <h2>no specificity</p>
          <% end %>
          <h2><i class="far fa-clock"></i> <%= @recipe.preparation_time %> min</h2>
        </div>
        <div>
          <br>
        <h2><i class="fas fa-shopping-cart"></i> Ingredients</h2>
        <ul>
        <% @recipe.product_recipes.each do |product_recipe| %>
        <li>
          <%= product_recipe.product.name %>
          <%= product_recipe.recipe_quantity %>
          <%= product_recipe.unit %>
        </li>
        <% end %>
        </ul>
        </div>
        <div class="card-show-description">
          <br>
        <h2><i class="fas fa-list"></i> Recipe steps</h2>
          <p><%= @recipe.recipe_description %></p>
        </div>
          <br>
        <div class="card-show-description">
          <h2><i class="far fa-comments"></i> Meal description</h2>
          <p><%= @recipe.meal_description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
