<div class="container">
<%= link_to 'My recipes', recipes_path %> ||
  <% if policy(@recipe).edit? %>
    <%= link_to 'Update', edit_recipe_path %> ||
  <% end %>
  <% if policy(@recipe).destroy? %>
    <%= link_to 'Delete', recipe_path, method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
  <h1><%=@recipe.name%></h1>
    <%= @recipe.recipe_description %> ||
    <p><%= @recipe.price %>€ ||
      <%= @recipe.preparation_time %>(min) ||
      <%= @recipe.specificity %> ||
      <%= @recipe.meal_description %>
    </p>
</div>