

<div class="card-container-show">
<div class="header-recipe ml-3 mr-3">
  <div>
    <%= link_to recipes_path, class:'btn-icons' do %>
      <i class="fas fa-long-arrow-alt-left"></i>
    <% end %>
  </div>
  <div class="p-2">
    <% if policy(@recipe).edit? %>
      <%= link_to edit_recipe_path, class:'btn-icons' do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(@recipe).destroy? %>
      <%= link_to recipe_path, method: :delete, class:'btn-icons', data: { confirm: "Are you sure?"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>
  <div class="card-prod-show">
    <% if @recipe.photo.attached? %>
      <%= cl_image_tag @recipe.photo.key%>
    <% end %>
    <div class="card-product-infos-1">
      <div class="card-product-container">
        <div class="card-product-name">
          <h1><%=@recipe.name%></h1>
        </div>
      </div>
      <div class="card-show-infos">
        <div class="card-show-infos-1">
          <h2>Price: <%= @recipe.price %>€</h2>
          <h2><%= @recipe.specificity %></h2>
          <h2><i class="far fa-clock"></i><%= @recipe.preparation_time %> min</h2>
        </div>
        <div>
          <br>
        <h2>Ingredients</h2>
        <ul>
        <% @recipe.product_recipes.each do |product_recipe| %>
        <li>
          <%= product_recipe.product.name %>
          <%= product_recipe.recipe_quantity %>
          <%= product_recipe.product.measure_unit %>
        </li>
        <% end %>
        </ul>
        </div>
        <div>
          <br>
        <h2>Recipe steps</h2>
          <p><%= @recipe.recipe_description %></p>
        </div>
          <br>
        <div>
          <h2>Meal description</h2>
          <p><%= @recipe.meal_description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
