<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top <%= 'd-none' if params[:controller] == 'pages' %> <%= 'd-none' if params[:controller] == 'menus' %>">
   <div class="navbar-logo">
      <%= image_tag "kaptrackLogo.png", alt: "Logo kap track", width: 200, height: 30 %>
    </div>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <li class="nav-link <%= 'active' if current_page?(new_performance_path) %>"><%= link_to "Import data", new_performance_path %></li>
      </li>
      <li class="nav-item">
        <li class="nav-link <%= 'active' if current_page?(new_recipe_path) %>"><%= link_to "Add recipe", new_recipe_path %></li>
      </li>
      <li class="nav-item">
        <li class="nav-link <%= 'active' if current_page?(new_checklist_path) %>"><%= link_to "Add checklist", new_checklist_path %></li>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if current_page?(new_supplier_path) || current_page?(new_lot_path)%>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add an item

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Add a stock", new_lot_path, class: "dropdown-item" %>
          <%= link_to "Add a supplier", new_supplier_path, class: "dropdown-item" %>
          <%= link_to "Add a product", new_product_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-link">
        <span class="flag-icon flag-icon-fr"></span>
      </li>
    </ul>
    <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/MaxenceLenoir", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'are you sure?' }, class: "dropdown-item" %>
        </div>
      </li>
  </div>
</nav>
