<div class="d-flex sidebar-container">
  <div class="headers-sidebar">
    <div class="container-avatar">
      <div class="sidebar-avatar">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
      </div>
    </div>
    <div class="container-headers">
      <div><h2><i class="fas fa-chart-line"></i> <%= link_to "Dashboard", "#", class: "side-link" %></h2></div>
      <div><h2><i class="fas fa-utensils"></i> <%= link_to "Recipes", recipes_path, class: "side-link" %></h2></div>
      <div><h2><i class="fas fa-drumstick-bite"></i> <%= link_to "Menu", "#", class: "side-link" %></h2></div>
      <div><h2><i class="fas fa-truck-moving"></i> <%= link_to "Stocks", lots_path, class: "side-link" %></h2></div>
      <div><h2><i class="fas fa-tasks"></i> <%= link_to "Checklists", checklists_path, class: "side-link" %></h2></div>
    </div>
  </div>
</div>
