<div class="d-flex sidebar-container">
  <div class="headers-sidebar">
    <div class="container-avatar">
      <div class="sidebar-avatar">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
      </div>
    </div>
    <div class="container-headers">
      <div><h2><%= link_to "Dashboard", "#", class: "side-link" %></h2></div> 
      <div><h2><%= link_to "Menu", "#", class: "side-link" %></h2></div> 
      <div><h2><%= link_to "Recipes", recipes_path, class: "side-link" %></h2></div> 
      <div><h2><%= link_to "Stocks", "#", class: "side-link" %></h2></div> 
      <div><h2><%= link_to "Checklists", "#", class: "side-link" %></h1></div> 
    </div>
  </div>
</div>
