<div class="box">
  <h1>Update a stock</h1>
  <%= simple_form_for(@lot) do |f| %>
    <%= f.association :product %>
    <%= f.association :supplier %>
    <%= f.input  :expiration_date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder:"Indicate a specific date" %>
    <%= f.input :cost %>
    <%= f.input :quantity %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
