<div class="container-index">
  <% @lots.each do |lot| %>
    <div class="card-prod">
      <div class="card-prod-bin">
        <%= link_to lot_path(lot), method: :delete, class:'btn-icons', data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <% if policy(Lot).edit? %>
          <%= link_to edit_lot_path(lot), class:'btn-icons' do %>
            <i class="far fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <% if lot.photo.attached? %>
      <%= cl_image_tag lot.photo.key %>
      <% end %>
        <div class="card-prod-infos">
        <h2><%= lot.product.name %></h2>
        <div class="card-infos">
          <div class="card-infos-number-1">
            <p><strong class="tricherie">Quantity:</strong> <%= lot.quantity %></p>
            <p> <strong class="tricherie">Cost: </strong> <%= lot.cost %>€</p>
          </div>
          <div class="card-infos-stock">
            <p><strong class="tricherie">Expiration date:</strong> <%= lot.expiration_date %></p>
          </div>
          <div class="card-infos-stock">
            <p><strong class="tricherie">Supplier:</strong><%= lot.supplier.name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
