<h1>lots index</h1>

<% @lots.each do |lot| %>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= lot.product.name %></h5>
        <p class="card-text"><%= lot.expiration_date %></p>
        <p class="card-text"><%= lot.quantity%></p>
        <p class="card-text"><i class="fas fa-dollar-sign"></i><%= lot.cost %></p>
        <p class="card-text"><strong><%= lot.supplier.name %></strong></p>
        <p class="card-text"><i class="fas fa-map-marked-alt"></i><%= lot.supplier.address %></p>
        <p class="card-text"><i class="fas fa-phone-alt"></i><%= lot.supplier.phone_number %></p>
        <p class="card-text"><i class="fas fa-truck-loading"></i><%= lot.supplier.delivery_estimation %></p>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="container">
<%= link_to "add a product", new_product_path %>
<%= link_to "add a supplier", new_supplier_path %>
<%= link_to "add a stock", new_lot_path %>
</div>
