<div class="container-index">
  <% @lots.each do |lot| %>
    <div class="card-prod">
      <% if lot.photo.attached? %>
      <%= cl_image_tag lot.photo.key %>
      <% end %>
        <div class="card-prod-infos">
        <h2><%= lot.product.name %></h2>
        <div class="card-infos">
          <div class="card-infos-number">
            <p>Quantity: <%= lot.quantity %></p>
            <p>Cost: <%= lot.cost %>€</p>
          </div>
          <div class="card-infos-other">
            <p>Expiration date: <%= lot.expiration_date %></p>
          </div>
          <div class="card-infos-other">
            <p>Supplier:<%= lot.supplier.name %>º</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
