<div class="header-checklist">
  <%= form_tag checklists_path, method: :get, class: "d-flex ml-4" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a specific checklist ..."
    %>
    <%= submit_tag "Search", class: "btn-search" %>
  <% end %>
  <% if policy(Checklist).create? %>
    <div class="btn-index-checklists"><%= link_to "New checklist", new_checklist_path, class: 'btn-main' %></div>
  <% end %>
</div>
<div class="container">
  <div class="cards-container">
    <% @checklists.each do |checklist| %>
      <div class="card-category-checklists">
        <%= link_to checklist_path(checklist) do%>
        <div class="card-category-checklists-container">
          <div class="card-category-checklists-title">
            <%= checklist.title %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


