<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-4 offset-12 offset-sm-8 offset-md-4">
      <div class="container-new mb-5">
        <%= simple_form_for(@checklist, remote: true) do |f| %>
        <%= f.input :title, input_html: { class: "form-title" } %>
        <%= f.input :description, input_html: { class: "form-description" } %>
        <%= f.input :deadline, input_html: { class: "form-deadline" } %>
        <%= f.input :priority_level, input_html: { class: "form-priority-level" } %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn-grey mb-2' %>
        <% end %>
        <%= link_to 'Back to checklists', checklists_path, class: 'btn-grey' %>
      </div>
    </div>
  </div>
</div>

