<div class="container-show-checklist">
  <%= link_to 'Back to index', checklists_path, class: 'btn-main' %>
  <%= link_to 'Edit', edit_checklist_path, class: 'btn-main' %>
  <%= link_to 'Delete', checklist_path, method: :delete, data: { confirm: "Etes vous certain?"} %>
  <div class="show-checklist">
    <%= @checklist.title %>
    <%= @checklist.description %>
    <%= @checklist.deadline %>
    <%= @checklist.priority_level %>
    <%= simple_form_for [@checklist, @task], remote: true do |f| %>
      <%= f.input :description %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="container">
    <div class="task-grid">
      <% @checklist.tasks.each do |task| %>
        <div class="task">
          <%= task.description %>
          <%#= f.label :validation %>
          <%#= f.check_box :validation, class: 'btn btn-checked'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
