<div class="container-show-checklist">
  <div class="btn-checklists-show-container">
    <div class="btn-checklist-show">
      <%= link_to 'Back to checklists', checklists_path, class: 'btn btn-primary mt-2' %>
      <% if policy(Checklist).edit? %>
        <%= link_to 'Edit', edit_checklist_path, class: 'btn btn-primary mt-2' %>
      <% end %>
      <% if policy(Checklist).destroy? %>
        <%= link_to 'Delete', checklist_path, method: :delete, data: { confirm: "Are you sure ?"} %>
      <% end %>
    </div>
  </div>
  <div class="show-checklist">
    <%= @checklist.title %>
    <p><%= @checklist.description %></p>
    <%= @checklist.deadline %>
    <%= @checklist.priority_level %>
    <% if policy(Task).edit? %>
      <%= simple_form_for [@checklist, @task], remote: true do |f| %>
        <%= f.input :description %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <div class="task-grid">
      <% @checklist.tasks.each do |task| %>
        <div class="task">
          <%= task.description %>
          <%#= f.label :validation %>
          <%#=f.check_box :validation, class: 'btn btn-checked'%>
        </div>
      <% end %>
    </div>
  </div>
</div>


