<div class="header-recipe ml-3 mr-3">
  <div>
    <%= link_to checklists_path, class:'btn-icons' do %>
      <i class="fas fa-long-arrow-alt-left"></i>
    <% end %>
  </div>
  <div class="p-2">
    <% if policy(Checklist).edit? %>
      <%= link_to edit_checklist_path, class:'btn-icons' do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(Checklist).destroy? %>
      <%= link_to checklist_path, class:'btn-icons', method: :delete, data: { confirm: "Are you sure ?"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>

  <div class="show-checklist">
    <h3><i class="fas fa-tasks"></i> <%= @checklist.title %></h3>
    <p><i class="fas fa-chalkboard-teacher"></i> <%= @checklist.description %></p>
    <p><i class="far fa-calendar-check"></i> <%= @checklist.deadline %></p>
    <p><i class="fas fa-hourglass-start"></i> <%= @checklist.priority_level %>/3</p>
    <% if policy(Task).edit? %>
      <%= simple_form_for [@checklist, @task], remote: true do |f| %>
        <%= f.input :description %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <div class="task-grid">
      <% @checklist.tasks.each do |task| %>
        <div class="task">
          <%= task.description %>
          <%#= f.label :validation %>
          <%#=f.check_box :validation, class: 'btn btn-checked'%>
        </div>
      <% end %>
    </div>
  </div>
</div>


