
<div class="box">
  <h1>Create a supplier</h1>
  <%= simple_form_for(@supplier) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input  :delivery_estimation %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
