<div class="wrapper-graph">
  <div class="one">
    <div class="canva-graph">
      <h1>CA & dishes performances by day</h1>
     <canvas id="revenue" data-performances="<%=@revenue_array.to_json%>" data-date="<%= @date_array.to_json %>" style="display: block; height: 100%; width: 100%;"></canvas>
    </div>
  </div>
  <div class="second">
    <div class="canva-graph">
      <h1>Margin & rate margin by day</h1>
      <canvas id="margins" data-globalmargin="<%= @margin_array.to_json %>" data-ratemargin="<%= @margin_rate_array.to_json %>" data-date="<%= @date_array.to_json %>" style="display: block; height: 100%; width: 100%;"></canvas>
    </div>
  </div>
  <div class="third">
    <div class="canva-graph">
      <h1>Average ticket by day</h1>
      <canvas id="average-ticket" data-averageticket="<%= @average_ticket_array.to_json %>" data-date="<%= @date_array.to_json %>" style="display: block; height: 100%; width: 100%;"></canvas>
    </div>
  </div>
  <div class="little-one">
    <h5>Revenue (weekly)</h5>
     <%= @weekly_revenue %>€
  </div>
  <div class="little-two">
    <h5>Number of customer (weekly)</h5>
    <%= @weekly_customer %>
  </div>
  <div class="little-three">
    <h5>Top 3 dishes sold (weekly)</h5>
    <% @weekly_dishes.each do |name, quantity|%>
      <%= "Quantity :#{quantity} - Name :#{name}" %>
    <% end %>
  </div>
  <div class="little-four">
    <h5>Average revenue by server(weekly)</h5>
    <%= @weekly_average_server %>€
  </div>
</div>





