  <div class="wrapper-graph">
  <div class="one">
    <% revenue_array = []%>
    <% date_array = [] %>
    <% Performance.sevendate.each do|performance| %>
      <% revenue_array << performance.revenue.to_i %>
      <% date_array << performance.date %>
    <% end %>
    <div class="canva-graph">
      <h1>CA & dishes performances by day</h1>
     <canvas id="revenue" data-performances="<%=revenue_array.to_json%>" data-date="<%= date_array.to_json %>"></canvas>
    </div>
  </div>
  <div class="second">

    <% margin_array = []%>
    <% margin_rate_array = []%>
    <% date_array = [] %>
    <% Performance.sevendate.each do|performance| %>
      <% margin_array << performance.global_margin.to_i %>
      <% margin_rate_array << performance.margin_rate.to_i %>
      <% date_array << performance.date %>
    <% end %>
    <div class="canva-graph">
      <h1>Margin & rate margin by day</h1>
      <canvas id="margins" data-globalmargin="<%= margin_array.to_json %>" data-ratemargin="<%= margin_rate_array.to_json %>" data-date="<%= date_array.to_json %>"></canvas>
    </div>
  </div>
  <div class="third">
    <% average_ticket_array = []%>
    <% date_array = [] %>
    <% Performance.sevendate.each do|performance| %>
      <% average_ticket_array << performance.average_ticket.to_i %>
      <% date_array << performance.date %>
    <% end %>
    <div class="canva-graph">
      <h1>Average ticket by day</h1>
      <canvas id="average-ticket" data-averageticket="<%= average_ticket_array.to_json %>" data-date="<%= date_array.to_json %>"></canvas>
    </div>
  </div>
  <div class="little-one">
  </div>
  <div class="little-two">
  </div>
  <div class="little-three">
  </div>
  <div class="little-four">
  </div>
</div>





