<div class="wrapper-graph">
  <div class="one">
    <div class="canva-graph">
      <h1>CA & dishes performances by day</h1>
     <canvas id="revenue" data-performances="<%=@revenue_array.to_json%>" data-date="<%= @date_array.to_json %>"></canvas>
    </div>
  </div>
  <div class="second">
    <div class="canva-graph">
      <h1>Margin & rate margin by day</h1>
      <canvas id="margins" data-globalmargin="<%= @margin_array.to_json %>" data-ratemargin="<%= @margin_rate_array.to_json %>" data-date="<%= @date_array.to_json %>"></canvas>
    </div>
  </div>
  <div class="third">
    <div class="canva-graph">
      <h1>Average ticket by day</h1>
      <canvas id="average-ticket" data-averageticket="<%= @average_ticket_array.to_json %>" data-date="<%= @date_array.to_json %>"></canvas>
    </div>
  </div>
  <div class="little-one">
  </div>
  <div class="little-two">
  </div>
  <div class="little-three">
  </div>
  <div class="little-four">
  </div>
</div>



  


