<div class="wrapper-graph">
  <div class="one">
    <div class="canva-graph">
      <h1>CA & dishes performances by day</h1>
     <canvas id="revenue" data-performances="<%=@revenue_array.to_json%>" data-date="<%= @date_array.map{|date| date.strftime("%d/%m")}.to_json %>" style="display: block; height: 100%; width: 100%;"></canvas>
      <%= @date_array %>
    </div>
  </div>
  <div class="second">
    <div class="canva-graph">
      <h1>Margin & rate margin by day</h1>
      <canvas id="margins" data-globalmargin="<%= @margin_array.to_json %>" data-ratemargin="<%= @margin_rate_array.to_json %>" data-date="<%= @date_array.map{|date| date.strftime("%d/%m")}.to_json %>" style="display: block; height: 100%; width: 100%;"></canvas>
    </div>
  </div>
  <div class="third">
    <div class="canva-graph">
      <h1>Average ticket by day</h1>
      <canvas id="average-ticket" data-averageticket="<%= @average_ticket_array.to_json %>" data-date="<%= @date_array.map{|date| date.strftime("%d/%m")}.to_json %>" style="display: block; height: 100%; width: 100%;"></canvas>
    </div>
  </div>
  <div class="little-one">
    <div class="little-graph-title">
      <div><h5>Income of the current week</h5></div>
    </div>
    <div class="little-graph-items">
      <div class="icon"><i class="fas fa-chart-line"></i></div>
      <div class="revenue-text"><h6><%= @weekly_revenue %>€</h6></div>
    </div>
  </div>
  <div class="little-two">
    <div class="little-graph-title">
      <div><h5>Number of clients</h5></div>
    </div>
    <div class="little-graph-items">
      <div class="icon"><%= image_tag "clients.png", alt: "top dishes", width: 60, height: 60 %></div>
      <div class="revenue-text"><h6><%= @weekly_customer %></h6></div>
    </div>
  </div>
  <div class="little-three">
    <div class="little-graph-title">
      <div><h5>Top 3 dishes sold</h5></div>
    </div>
    <div class="little-graph-items">
        <%= image_tag "lovedish.png", alt: "top dishes", width: 50, height: 50 %>
      <div>
      <% @weekly_dishes.each do |name, quantity|%>
        <%= "Quantity : #{quantity} - Name :#{name}" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="little-four">
    <div class="little-graph-title">
      <div><h5>Average revenue by server</h5></div>
    </div>
    <div class="little-graph-items-four">
      <%= image_tag "food-serving.png", alt: "top dishes", width: 50, height: 50 %>
      <div><%= @weekly_average_server %>€</div>
    </div>
  </div>
</div>





