<div class="container-index">
  <h2>Oversee your success</h2>
</div>
  <div class="box">
    <h1>CA & dishes performances by day</h1>

    <% revenue_array = []%>
    <% date_array = [] %>
    <% Performance.sevendate.each do|performance| %>
      <% revenue_array << performance.revenue.to_i %>
      <% date_array << performance.date %>
    <% end %>

    <canvas id="revenue" width="600" height="200" data-performances="<%=revenue_array.to_json%>" data-date="<%= date_array.to_json %>"></canvas>
  </div>
  <% console %>

    <% margin_array = []%>
    <% margin_rate_array = []%>
    <% date_array = [] %>
    <% Performance.sevendate.each do|performance| %>
      <% margin_array << performance.global_margin.to_i %>
      <% margin_rate_array << performance.margin_rate.to_i %>
      <% date_array << performance.date %>
    <% end %>

  <div class="box">
    <h1>Margin & rate margin by day</h1>
    <canvas id="margins" width="600" height="200" data-globalmargin="<%= margin_array.to_json %>" data-ratemargin="<%= margin_rate_array.to_json %>" data-date="<%= date_array.to_json %>"></canvas>
  </div>

  
    <% average_ticket_array = []%>
    <% date_array = [] %>
    <% Performance.sevendate.each do|performance| %>
      <% average_ticket_array << performance.average_ticket.to_i %>
      <% date_array << performance.date %>
    <% end %>

  <div class="box">
    <h1>Average ticket by day</h1>
    <canvas id="average-ticket" width="600" height="200" data-averageticket="<%= average_ticket_array.to_json %>" data-date="<%= date_array.to_json %>"></canvas>
  </div>