<!DOCTYPE html>
<html>
  <head>
    <title>Kaptrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel = "icon" href =  "https://www.flaticon.com/svg/static/icons/svg/3713/3713000.svg" type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <% unless params[:controller] == 'pages' %>
    <div class="d-flex">
    <% end %>
      <%= render 'shared/sidebar' %>
      <div class="d-flex flex-column">
        <%= yield %>
      </div>
    <% unless params[:controller] == 'pages' %>
    </div>
    <% end %>
  </body>
</html>
